#########################################################
# この設定はprettierをコマンドで実行したときだけに効く
# 例： npx prettier --check .
# 保存時に整形（editor.formatOnSave）は動いてしまうので
# vscode設定のprettier.disableLanguagesにも指定すると良い
##########################################################

# yamlファイルは整形しない
*.yaml
*.yml
